<h1 class="h3 mb-4 text-gray-800">{{!userId ? 'Crear' : 'Editar'}} Usuario</h1>
<div class="container">
  <div class="col-lg-12 border-bottom-primary">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form (ngSubmit)="save()" [formGroup]="form">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input formControlName="name" type="text" class="form-control">
            <span *ngIf="isInvalid('name')" class="text-danger text-form">El campo es requerido</span>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" type="text" class="form-control">
            <span *ngIf="isInvalid('email')" class="text-danger text-form">El campo es requerido</span>
          </div>
          <div class="mb-3">
            <label class="form-label">Rol</label>
            <select formControlName="role" class="form-control">
              <option *ngFor="let item of roles" [value]="item.name">{{item.name}}</option>
            </select>
            <span *ngIf="isInvalid('role')" class="text-danger text-form">El campo es requerido</span>
          </div>
          <!-- <div>
            <label>Usuario</label>
            <input type="text" class="form-control">
          </div> -->
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input formControlName="password" type="password" class="form-control">
            <span *ngIf="isInvalid('password')" class="text-danger text-form">Ingrese al menos 6 caracteres</span>
          </div>
          <div class="mb-3 d-flex gap-2">
            <button type="submit" class="btn btn-primary">{{!userId ? 'Guardar' : 'Actualizar'}}</button>
            <a routerLink="/usuarios" class="btn btn-primary">Volver</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
