<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%;">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-block align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-text mx-3">CEDIT </div>
  </a>

  <ng-container *ngFor="let item of menu">
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li *ngIf="item.can" class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="item.route">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>{{item.label}}</span></a>
    </li>
  </ng-container>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline mt-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
