<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-block align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-text mx-3">CEDIT </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/usuarios">
      <i class="fa-solid fa-users"></i>
      <span>Usuarios</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/cursos">
      <i class="fa-solid fa-book-open"></i>
      <span>Cursos</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/alumnos/lista">
      <i class="fa-solid fa-book-open"></i>
      <span>Alumnos</span></a>
  </li>

  <!-- Inscripción -->
  <hr class="sidebar-divider my-0">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/alumnos/inscripcion">
      <i class="fa-solid fa-book-open"></i>
      <span>Inscripción</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline mt-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
