<p-table #dt [columns]="cols" [value]="data" responsiveLayout="scroll" dataKey="id"
  [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
    <div class="table-header mt-3 d-flex justify-content-end">
      <input pInputText type="text" (input)="dt.filterGlobal($any($event.target!).value, 'contains')"
        placeholder="Buscar..." />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th *ngFor="let col of columns">
      {{col.header}}
    </th> -->
      <th *ngFor="let col of columns">
        <div class="flex justify-content-between align-items-center">
          {{col.header}}
        </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center">
          Acciones
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [style]="getRowStyle(rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <a class="btn btn-success" *ngIf="btnPayIsVisible(rowData)"
          [routerLink]="'/caja/pagar/'+rowData.installment_id"><i class="fa-solid fa-credit-card"></i></a>
          <button class="btn btn-secondary" *ngIf="btnPayIsVisible(rowData)"
          (click)="editInstallment(rowData.installment_id)"><i class="fa-solid fa-pencil"></i></button>
        <a class="btn btn-danger" *ngIf="btnPayIsVisible(rowData) && rowData.mora == 0"
          [routerLink]="'/caja/mora/'+rowData.installment_id" title="Mora"><i class="fa-solid fa-lock"></i></a>
        <button (click)="deleteTransaction(rowData.transaction_id)" class="btn btn-danger"
          *ngIf="btnDeletePayIsVisible(rowData)" toottip="Eliminar Pago"><i class="fa-solid fa-trash"></i></button>
        <a class="btn btn-secondary" *ngIf="btnTransactionIsVisible(rowData)"
          [routerLink]="'/caja/transaccion/'+rowData.transaction_id" title="Editar Transacción"><i
            class="fa-solid fa-pen"></i></a>
        <a [href]="rowData['voucher']" target="_blank" *ngIf="btnSeeVoucherIsVisible(rowData)" class="btn btn-primary"
          title="Comprobante"><i class="fa-solid fa-sheet-plastic"></i></a>
      </td>
    </tr>
  </ng-template>
</p-table>
<a [routerLink]="'/ventas/'+typeString" class="btn btn-outline-primary">Regresar</a>
