<p-table #dt [columns]="cols" [value]="data" responsiveLayout="scroll" dataKey="id"
  [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
    <div class="table-header mt-3 d-flex justify-content-end">
      <input pInputText type="text" (input)="dt.filterGlobal($any($event.target!).value, 'contains')"
        placeholder="Buscar..." />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th *ngFor="let col of columns">
      {{col.header}}
    </th> -->
      <th *ngFor="let col of columns">
        <div class="flex justify-content-between align-items-center">
          {{col.header}}
        </div>
      </th>
      <th>
        <div class="flex justify-content-between align-items-center">
          Acciones
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [style]="rowData.type == 'd' ? 'background-color:#eee;' : ''">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <a *ngIf="rowData.installment_id" style="cursor: pointer;"
          [routerLink]="'/caja/pagar/'+rowData.installment_id">Pagar</a>
      </td>
    </tr>
  </ng-template>
</p-table>
