<h1 class="h3 mb-4 text-gray-800">Inscribir Alumno</h1>
<div class="container">
  <div class="col-lg-12 border-bottom-primary">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form (ngSubmit)="save()" [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input formControlName="name" type="text" class="form-control">
                <span *ngIf="isInvalid('name')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" class="form-control">
                <span *ngIf="isInvalid('email')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">DNI</label>
                    <input formControlName="dni" type="number" class="form-control">
                    <span *ngIf="isInvalid('dni')" class="text-danger text-form">El campo es requerido</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">Departamento</label>
                    <select formControlName="department_id" class="form-control">
                      <option *ngFor="let item of departments" [value]="item.id">{{item.name}}</option>
                    </select>
                    <span *ngIf="isInvalid('department_id')" class="text-danger text-form">El campo es requerido</span>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input formControlName="address" type="text" class="form-control">
                <span *ngIf="isInvalid('address')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input formControlName="phone" type="number" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-3">
                    <label class="form-label">Celular</label>
                    <input formControlName="cellphone" type="number" class="form-control">
                    <span *ngIf="isInvalid('cellphone')" class="text-danger text-form">El campo es requerido</span>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento</label>
                <input formControlName="date_of_birth" type="date" class="form-control">
                <span *ngIf="isInvalid('date_of_birth')" class="text-danger text-form">El campo es requerido</span>
              </div>
            </div>
            <div class="col-6" formGroupName="transaction">
              <div class="mb-3">
                <label class="form-label">Curso</label>
                <select (change)="onChangeCourse($event)" formControlName="course_id" class="form-control">
                  <option value="">Seleccione un curso</option>
                  <option *ngFor="let item of courses" [value]="item.id">{{item.name}}</option>
                </select>
                <span *ngIf="isInvalid('course_id')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Turno</label>
                <select formControlName="course_turn_id" class="form-control">
                  <option *ngFor="let item of courseTurns" [value]="item.id">
                    {{item.days + ', '+item.turn.name + ' de '+item.start_hour+ ' a ' + item.end_hour}}</option>
                </select>
                <span *ngIf="isInvalid('course_turn_id')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Fecha de Inicio</label>
                <input formControlName="start_date" type="date" class="form-control">
                <span *ngIf="isInvalid('start_date')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Banco</label>
                <select (change)="onChangeBank($event)" formControlName="bank_id" class="form-control">
                  <option *ngFor="let item of banks" [value]="item.id">
                    {{item.name}}</option>
                </select>
                <span *ngIf="isInvalid('transaction.bank_id')" class="text-danger text-form">El campo es requerido</span>
              </div>
              <div *ngIf="form.get('transaction.bank_id')!.value != '1' && form.get('transaction.bank_id')!.value != '6'">
                <label class="form-label">Número de Operación</label>
                <input formControlName="operation" type="text" class="form-control">
                <span *ngIf="isInvalid('transaction.operation')" class="text-danger text-form">El campo es requerido</span>
              </div>
              
              <ng-container *ngIf="form.get('transaction.bank_id')!.value == '6'">
                <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input formControlName="name" type="text" class="form-control">
                  <span *ngIf="isInvalid('transaction.name')" class="text-danger text-form">El campo es requerido</span>
                </div>
                <div class="mb-3">
                  <label class="form-label">Fecha de Pago</label>
                  <input formControlName="payment_date" type="date" class="form-control">
                  <span *ngIf="isInvalid('transaction.payment_date')" class="text-danger text-form">El campo es requerido</span>
                </div>
              </ng-container>
              
            </div>
          </div>
        
          <div class="container">
            <div class="card shadow mb-4">
              <div class="card-body" style="background-color: #00ff452e;">
                <div formGroupName="payment">
                  <h5 class="mb-4 text-gray-900">Datos de Pago</h5>
                  <div class="row">
                    <div class="col-3">
                      <div class="mb-3">
                      <label class="form-label">Costo Total</label>
                      <input [attr.disabled]="form.get('payment.type')!.value == '0' ? true : null" formControlName="amount"
                        type="number" class="form-control">
                      <span *ngIf="isInvalid('payment.amount')" class="text-danger text-form">Ingrese un costo total válido</span>
                    </div>
                    </div>
                    <div class="col-3">
                      <div class="mb-3">
                      <label class="form-label">Tipo de Pago</label>
                      <div>
                        <div class="form-check form-check-inline">
                          <input (change)="onChangePaymentType($event)" value="1" formControlName="type" class="form-check-input"
                            type="radio" id="contado">
                          <label class="form-check-label" for="contado">
                            Contado
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input (change)="onChangePaymentType($event)" value="0" formControlName="type" class="form-check-input"
                            type="radio" id="credito">
                          <label class="form-check-label" for="credito">
                            Crédito
                          </label>
                        </div>
                      </div>
                      <span *ngIf="isInvalid('payment.type')" class="text-danger text-form">El campo es requerido</span>
                    </div>
                    </div>
                    <ng-container *ngIf="form.get('payment')!.get('type')?.value == '0'">             
                      <div class="col-3">
                        <div class="mb-3">
                        <label class="form-label">Monto Total de Matrícula</label>
                        <input formControlName="enroll_amount" type="number" class="form-control">
                        <span *ngIf="isInvalid('payment.enroll_amount')" class="text-danger text-form">Ingrese un monto
                          válido</span>
                      </div>
                      </div>
                      <div class="col-3">
                        <div class="mb-3">
                        <label class="form-label">Monto a pagar de Matrícula</label>
                        <input formControlName="pay_enroll_amount" type="number" class="form-control">
                        <span *ngIf="isInvalid('payment.pay_enroll_amount')" class="text-danger text-form">Ingrese un monto
                          válido</span>
                      </div>
                      </div>
                    </ng-container>
                  </div>
      
      
                  <div *ngIf="form.get('payment.type')?.value == '0'">
                    <div class="row">                                          
                      <div class="col-2">
                        <div class="mb-3">
                          <label class="form-label">Mensualidades</label>
                          <select (change)="onChangeNInstallments($event)" class="form-control">
                            <option *ngFor="let item of installmentsNames" [value]="item">{{item}}</option>
                          </select>
                        </div>
                      </div>
                      <div formArrayName="installments" class="col-10">
                        <div *ngFor="let installment of installments.controls; let i=index">
                          <div [formGroupName]="i"> 
                            <div class="row">
                            <div class="col-6">
                              <div class="mb-3">
                                <label class="form-label">Mensualidad {{i+1}}</label>
                                <input formControlName="amount" type="number" class="form-control">
                                <span *ngIf="isFormArrayInvalid('amount', i)" class="text-danger text-form">Ingrese un monto válido</span>
                              </div>
                            </div>
                            <div class="col-6">
                              <div *ngIf="i<1">
                                <label class="form-label">Pago Mensualidad {{i+1}}</label>
                                <input formControlName="pay" type="number" class="form-control">
                                <span *ngIf="isFormArrayInvalid('pay', i)" class="text-danger text-form">Ingrese un monto válido</span>
                              </div>
                            </div>
                          </div>                             
                          </div>
                        </div>
                      </div>                                          
                    </div>  
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Observación</label>
                    <input formControlName="observation" type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="mb-3 d-flex gap-2">
            <button type="submit" class="btn btn-primary">Inscribir</button>
            <a routerLink="/preinscripcion" class="btn btn-primary">Volver</a>
          </div>
        </form>
      </div>
    </div>
  </div>  

