<div class="tab-pane">
  <div class="row">
    <div class="input-group mb-1">
      <span class="input-group-text" id="inputGroup-sizing-default">Buscar
        Alumno</span>
      <p-autoComplete (onSelect)="onSelectStudent($event)" [showEmptyMessage]="true" [suggestions]="filteredStudents"
        (completeMethod)="filterStudent($event)" field="label" [minLength]="1">
      </p-autoComplete>
    </div>
  </div>
  <hr>
  <div class="row container">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Información
        </h6>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <button *ngIf="noEdit && selectedStudentWithCourse" type="button" (click)="editStudent()"
            class="btn btn-primary">Editar</button>
          <button *ngIf="!noEdit" type="button" (click)="cancel()" class="btn btn-warning">Cancelar</button>
        </div>
        <app-student-with-course-form (onSubmitForm)="handleSubmit($event)" *ngIf="selectedStudentWithCourse"
          [student]="selectedStudentWithCourse" [noEdit]="noEdit">
        </app-student-with-course-form>
      </div>
    </div>
  </div>
  <div class="mt-4 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pagos
        </h6>
      </div>
      <div class="card-body">
        <div class="row">
          <app-payments-table *ngIf="selectedStudentWithCourse" [studentWithCourseId]="selectedStudentWithCourse!.id">
          </app-payments-table>
          <div *ngIf="!selectedStudentWithCourse">
            Seleccione un alumno para ver sus pagos
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
