<h1>{{!spending ? 'Registrar' : 'Editar'}} Gasto</h1>
<form (ngSubmit)="save()" [formGroup]="form">
  <div class="mb-3">
    <label for="exampleInputText" class="form-label">Descripcion</label>
    <input type="text" formControlName="description" class="form-control">
    <span *ngIf="isInvalid('description')">El campo es requerido</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Monto</label>
    <input type="number" formControlName="amount" class="form-control">
    <span *ngIf="isInvalid('amount')">El campo es requerido</span>
  </div>
  <div class="mb-3">
    <label class="form-label">Fecha</label>
    <input type="date" formControlName="date" class="form-control">
    <span *ngIf="isInvalid('date')">El campo es requerido</span>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">{{!spending ? 'Guardar' : 'Actualizar'}}</button>
    <a routerLink="/caja/gastos" class="btn btn-outline-primary">Regresar al Listado</a>
  </div>
</form>
